<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.dao.content.columnManage.PagecolumnMapper" >
  <resultMap id="BaseResultMap" type="com.jy.entiy.content.columnManage.Pagecolumn" >
    <id column="PageColumnID" property="pagecolumnid" jdbcType="INTEGER" />
    <result column="PageID" property="pageid" jdbcType="INTEGER" />
    <result column="PageColumnName" property="pagecolumnname" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="CreatePersonID" property="createpersonid" jdbcType="BIGINT" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="UpdatePersonID" property="updatepersonid" jdbcType="BIGINT" />
    <result column="DisplayOrder" property="displayorder" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="FileID" property="fileid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PageColumnID, PageID, PageColumnName, Remark, CreateTime, CreateBy, CreatePersonID, 
    UpdateTime, UpdateBy, UpdatePersonID, DisplayOrder, Title, Description, FileID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jy.entiy.content.columnManage.PagecolumnExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PageColumn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PageColumn
    where PageColumnID = #{pagecolumnid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PageColumn
    where PageColumnID = #{pagecolumnid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jy.entiy.content.columnManage.PagecolumnExample" >
    delete from PageColumn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jy.entiy.content.columnManage.Pagecolumn" >
    insert into PageColumn (PageColumnID, PageID, PageColumnName, 
      Remark, CreateTime, CreateBy, 
      CreatePersonID, UpdateTime, UpdateBy, 
      UpdatePersonID, DisplayOrder, Title, 
      Description, FileID)
    values (#{pagecolumnid,jdbcType=INTEGER}, #{pageid,jdbcType=INTEGER}, #{pagecolumnname,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, 
      #{createpersonid,jdbcType=BIGINT}, #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, 
      #{updatepersonid,jdbcType=BIGINT}, #{displayorder,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{fileid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jy.entiy.content.columnManage.Pagecolumn" useGeneratedKeys="true"  keyColumn="PageColumnID" keyProperty="pagecolumnid" >
    insert into PageColumn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pagecolumnid != null" >
        PageColumnID,
      </if>
      <if test="pageid != null" >
        PageID,
      </if>
      <if test="pagecolumnname != null" >
        PageColumnName,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="createpersonid != null" >
        CreatePersonID,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="updatepersonid != null" >
        UpdatePersonID,
      </if>
      <if test="displayorder != null" >
        DisplayOrder,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="fileid != null" >
        FileID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pagecolumnid != null" >
        #{pagecolumnid,jdbcType=INTEGER},
      </if>
      <if test="pageid != null" >
        #{pageid,jdbcType=INTEGER},
      </if>
      <if test="pagecolumnname != null" >
        #{pagecolumnname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createpersonid != null" >
        #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatepersonid != null" >
        #{updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="displayorder != null" >
        #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="fileid != null" >
        #{fileid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jy.entiy.content.columnManage.PagecolumnExample" resultType="java.lang.Integer" >
    select count(*) from PageColumn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PageColumn
    <set >
      <if test="record.pagecolumnid != null" >
        PageColumnID = #{record.pagecolumnid,jdbcType=INTEGER},
      </if>
      <if test="record.pageid != null" >
        PageID = #{record.pageid,jdbcType=INTEGER},
      </if>
      <if test="record.pagecolumnname != null" >
        PageColumnName = #{record.pagecolumnname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null" >
        CreateBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createpersonid != null" >
        CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null" >
        UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatepersonid != null" >
        UpdatePersonID = #{record.updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="record.displayorder != null" >
        DisplayOrder = #{record.displayorder,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        Title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        Description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.fileid != null" >
        FileID = #{record.fileid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PageColumn
    set PageColumnID = #{record.pagecolumnid,jdbcType=INTEGER},
      PageID = #{record.pageid,jdbcType=INTEGER},
      PageColumnName = #{record.pagecolumnname,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      UpdatePersonID = #{record.updatepersonid,jdbcType=BIGINT},
      DisplayOrder = #{record.displayorder,jdbcType=INTEGER},
      Title = #{record.title,jdbcType=VARCHAR},
      Description = #{record.description,jdbcType=VARCHAR},
      FileID = #{record.fileid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jy.entiy.content.columnManage.Pagecolumn" >
    update PageColumn
    <set >
      <if test="pageid != null" >
        PageID = #{pageid,jdbcType=INTEGER},
      </if>
      <if test="pagecolumnname != null" >
        PageColumnName = #{pagecolumnname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createpersonid != null" >
        CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatepersonid != null" >
        UpdatePersonID = #{updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="displayorder != null" >
        DisplayOrder = #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="fileid != null" >
        FileID = #{fileid,jdbcType=BIGINT},
      </if>
    </set>
    where PageColumnID = #{pagecolumnid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jy.entiy.content.columnManage.Pagecolumn" >
    update PageColumn
    set PageID = #{pageid,jdbcType=INTEGER},
      PageColumnName = #{pagecolumnname,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=VARCHAR},
      CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      UpdatePersonID = #{updatepersonid,jdbcType=BIGINT},
      DisplayOrder = #{displayorder,jdbcType=INTEGER},
      Title = #{title,jdbcType=VARCHAR},
      Description = #{description,jdbcType=VARCHAR},
      FileID = #{fileid,jdbcType=BIGINT}
    where PageColumnID = #{pagecolumnid,jdbcType=INTEGER}
  </update>
</mapper>