<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.dao.department.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.jy.entiy.department.Department" >
    <id column="DepartmentID" property="departmentid" jdbcType="INTEGER" />
    <result column="DepartmentName" property="departmentname" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="ParentID" property="parentid" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="CreatePersonID" property="createpersonid" jdbcType="BIGINT" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="UpdatePersonID" property="updatepersonid" jdbcType="BIGINT" />
    <result column="Code" property="code" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="ProvinceID" property="provinceid" jdbcType="INTEGER" />
    <result column="CityID" property="cityid" jdbcType="INTEGER" />
    <result column="CountyID" property="countyid" jdbcType="INTEGER" />
    <result column="ZoneID" property="zoneid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DepartmentID, DepartmentName, Remark, ParentID, CreateTime, CreateBy, CreatePersonID, 
    UpdateTime, UpdateBy, UpdatePersonID, Code, Status, ProvinceID, CityID, CountyID, 
    ZoneID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jy.entiy.department.DepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Department
    where DepartmentID = #{departmentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Department
    where DepartmentID = #{departmentid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jy.entiy.department.DepartmentExample" >
    delete from Department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jy.entiy.department.Department" >
    insert into Department (DepartmentID, DepartmentName, Remark, 
      ParentID, CreateTime, CreateBy, 
      CreatePersonID, UpdateTime, UpdateBy, 
      UpdatePersonID, Code, Status, 
      ProvinceID, CityID, CountyID, 
      ZoneID)
    values (#{departmentid,jdbcType=INTEGER}, #{departmentname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, 
      #{createpersonid,jdbcType=BIGINT}, #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, 
      #{updatepersonid,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{provinceid,jdbcType=INTEGER}, #{cityid,jdbcType=INTEGER}, #{countyid,jdbcType=INTEGER}, 
      #{zoneid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jy.entiy.department.Department" >
    insert into Department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departmentid != null" >
        DepartmentID,
      </if>
      <if test="departmentname != null" >
        DepartmentName,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="parentid != null" >
        ParentID,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="createpersonid != null" >
        CreatePersonID,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="updatepersonid != null" >
        UpdatePersonID,
      </if>
      <if test="code != null" >
        Code,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="provinceid != null" >
        ProvinceID,
      </if>
      <if test="cityid != null" >
        CityID,
      </if>
      <if test="countyid != null" >
        CountyID,
      </if>
      <if test="zoneid != null" >
        ZoneID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departmentid != null" >
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="departmentname != null" >
        #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createpersonid != null" >
        #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatepersonid != null" >
        #{updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=INTEGER},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=INTEGER},
      </if>
      <if test="countyid != null" >
        #{countyid,jdbcType=INTEGER},
      </if>
      <if test="zoneid != null" >
        #{zoneid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jy.entiy.department.DepartmentExample" resultType="java.lang.Integer" >
    select count(*) from Department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Department
    <set >
      <if test="record.departmentid != null" >
        DepartmentID = #{record.departmentid,jdbcType=INTEGER},
      </if>
      <if test="record.departmentname != null" >
        DepartmentName = #{record.departmentname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        ParentID = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null" >
        CreateBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createpersonid != null" >
        CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null" >
        UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatepersonid != null" >
        UpdatePersonID = #{record.updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        Code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.provinceid != null" >
        ProvinceID = #{record.provinceid,jdbcType=INTEGER},
      </if>
      <if test="record.cityid != null" >
        CityID = #{record.cityid,jdbcType=INTEGER},
      </if>
      <if test="record.countyid != null" >
        CountyID = #{record.countyid,jdbcType=INTEGER},
      </if>
      <if test="record.zoneid != null" >
        ZoneID = #{record.zoneid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Department
    set DepartmentID = #{record.departmentid,jdbcType=INTEGER},
      DepartmentName = #{record.departmentname,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR},
      ParentID = #{record.parentid,jdbcType=INTEGER},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      UpdatePersonID = #{record.updatepersonid,jdbcType=BIGINT},
      Code = #{record.code,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      ProvinceID = #{record.provinceid,jdbcType=INTEGER},
      CityID = #{record.cityid,jdbcType=INTEGER},
      CountyID = #{record.countyid,jdbcType=INTEGER},
      ZoneID = #{record.zoneid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jy.entiy.department.Department" >
    update Department
    <set >
      <if test="departmentname != null" >
        DepartmentName = #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        ParentID = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createpersonid != null" >
        CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatepersonid != null" >
        UpdatePersonID = #{updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        Code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null" >
        ProvinceID = #{provinceid,jdbcType=INTEGER},
      </if>
      <if test="cityid != null" >
        CityID = #{cityid,jdbcType=INTEGER},
      </if>
      <if test="countyid != null" >
        CountyID = #{countyid,jdbcType=INTEGER},
      </if>
      <if test="zoneid != null" >
        ZoneID = #{zoneid,jdbcType=INTEGER},
      </if>
    </set>
    where DepartmentID = #{departmentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jy.entiy.department.Department" >
    update Department
    set DepartmentName = #{departmentname,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      ParentID = #{parentid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=VARCHAR},
      CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      UpdatePersonID = #{updatepersonid,jdbcType=BIGINT},
      Code = #{code,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      ProvinceID = #{provinceid,jdbcType=INTEGER},
      CityID = #{cityid,jdbcType=INTEGER},
      CountyID = #{countyid,jdbcType=INTEGER},
      ZoneID = #{zoneid,jdbcType=INTEGER}
    where DepartmentID = #{departmentid,jdbcType=INTEGER}
  </update>
</mapper>