<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.dao.system.menu.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.jy.entiy.system.menu.Menu" >
    <id column="MenuID" property="menuid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Url" property="url" jdbcType="VARCHAR" />
    <result column="ParentID" property="parentid" jdbcType="INTEGER" />
    <result column="DisplayOrder" property="displayorder" jdbcType="INTEGER" />
    <result column="Icon" property="icon" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreatePersonID" property="createpersonid" jdbcType="BIGINT" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdatePersonID" property="updatepersonid" jdbcType="BIGINT" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="DictionariesID" property="dictionariesid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MenuID, Name, Url, ParentID, DisplayOrder, Icon, CreateTime, CreatePersonID, CreateBy, 
    UpdateTime, UpdatePersonID, UpdateBy, DictionariesID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jy.entiy.system.menu.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Menu
    where MenuID = #{menuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Menu
    where MenuID = #{menuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jy.entiy.system.menu.MenuExample" >
    delete from Menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jy.entiy.system.menu.Menu" >
    insert into Menu (MenuID, Name, Url, 
      ParentID, DisplayOrder, Icon, 
      CreateTime, CreatePersonID, CreateBy, 
      UpdateTime, UpdatePersonID, UpdateBy, 
      DictionariesID)
    values (#{menuid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER}, #{displayorder,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createpersonid,jdbcType=BIGINT}, #{createby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updatepersonid,jdbcType=BIGINT}, #{updateby,jdbcType=VARCHAR}, 
      #{dictionariesid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jy.entiy.system.menu.Menu" >
    insert into Menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        MenuID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="url != null" >
        Url,
      </if>
      <if test="parentid != null" >
        ParentID,
      </if>
      <if test="displayorder != null" >
        DisplayOrder,
      </if>
      <if test="icon != null" >
        Icon,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createpersonid != null" >
        CreatePersonID,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updatepersonid != null" >
        UpdatePersonID,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="dictionariesid != null" >
        DictionariesID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="displayorder != null" >
        #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createpersonid != null" >
        #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatepersonid != null" >
        #{updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="dictionariesid != null" >
        #{dictionariesid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jy.entiy.system.menu.MenuExample" resultType="java.lang.Integer" >
    select count(*) from Menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Menu
    <set >
      <if test="record.menuid != null" >
        MenuID = #{record.menuid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        Url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        ParentID = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.displayorder != null" >
        DisplayOrder = #{record.displayorder,jdbcType=INTEGER},
      </if>
      <if test="record.icon != null" >
        Icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createpersonid != null" >
        CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      </if>
      <if test="record.createby != null" >
        CreateBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatepersonid != null" >
        UpdatePersonID = #{record.updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="record.updateby != null" >
        UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.dictionariesid != null" >
        DictionariesID = #{record.dictionariesid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Menu
    set MenuID = #{record.menuid,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      Url = #{record.url,jdbcType=VARCHAR},
      ParentID = #{record.parentid,jdbcType=INTEGER},
      DisplayOrder = #{record.displayorder,jdbcType=INTEGER},
      Icon = #{record.icon,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      UpdatePersonID = #{record.updatepersonid,jdbcType=BIGINT},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      DictionariesID = #{record.dictionariesid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jy.entiy.system.menu.Menu" >
    update Menu
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        Url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        ParentID = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="displayorder != null" >
        DisplayOrder = #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        Icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createpersonid != null" >
        CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatepersonid != null" >
        UpdatePersonID = #{updatepersonid,jdbcType=BIGINT},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="dictionariesid != null" >
        DictionariesID = #{dictionariesid,jdbcType=INTEGER},
      </if>
    </set>
    where MenuID = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jy.entiy.system.menu.Menu" >
    update Menu
    set Name = #{name,jdbcType=VARCHAR},
      Url = #{url,jdbcType=VARCHAR},
      ParentID = #{parentid,jdbcType=INTEGER},
      DisplayOrder = #{displayorder,jdbcType=INTEGER},
      Icon = #{icon,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      CreateBy = #{createby,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdatePersonID = #{updatepersonid,jdbcType=BIGINT},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      DictionariesID = #{dictionariesid,jdbcType=INTEGER}
    where MenuID = #{menuid,jdbcType=INTEGER}
  </update>
  
  <select id="getMenuNameByMenuId" resultType="string">
  		SELECT Name  FROM Menu WHERE MenuID = #{MenuID}
  </select>
  
  <!-- 根据菜单名字,查询总数 -->
  <select id="getMenuCountByName" resultType="int">
  		SELECT count(MenuID)  FROM Menu WHERE Name = #{Name} AND ParentID = #{ParentID}
  </select>
  
  <select id="getMenuIdByDictionariesID" resultType="int">
  		SELECT MenuID  FROM Menu WHERE DictionariesID = #{DictionariesID}
  </select>
  
</mapper>