<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.dao.content.file.question_bank.CompanyinfoMapper" >
  <resultMap id="BaseResultMap" type="com.jy.entiy.content.file.question_bank.Companyinfo" >
    <id column="CompanyID" property="companyid" jdbcType="INTEGER" />
    <result column="BusinessID" property="businessid" jdbcType="INTEGER" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="OfficeWeb" property="officeweb" jdbcType="VARCHAR" />
    <result column="CompanyLogo" property="companylogo" jdbcType="BIGINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="CreatePersonID" property="createpersonid" jdbcType="BIGINT" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="UpatePersonID" property="upatepersonid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CompanyID, BusinessID, CompanyName, Remark, Phone, Address, Email, OfficeWeb, CompanyLogo, 
    CreateTime, CreateBy, CreatePersonID, UpdateTime, UpdateBy, UpatePersonID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jy.entiy.content.file.question_bank.CompanyinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CompanyInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CompanyInfo
    where CompanyID = #{companyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CompanyInfo
    where CompanyID = #{companyid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jy.entiy.content.file.question_bank.CompanyinfoExample" >
    delete from CompanyInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jy.entiy.content.file.question_bank.Companyinfo" >
    insert into CompanyInfo (CompanyID, BusinessID, CompanyName, 
      Remark, Phone, Address, 
      Email, OfficeWeb, CompanyLogo, 
      CreateTime, CreateBy, CreatePersonID, 
      UpdateTime, UpdateBy, UpatePersonID
      )
    values (#{companyid,jdbcType=INTEGER}, #{businessid,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{officeweb,jdbcType=VARCHAR}, #{companylogo,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{createpersonid,jdbcType=BIGINT}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{upatepersonid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jy.entiy.content.file.question_bank.Companyinfo" useGeneratedKeys="true" keyColumn="CompanyID" keyProperty="companyid">
    insert into CompanyInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        CompanyID,
      </if>
      <if test="businessid != null" >
        BusinessID,
      </if>
      <if test="companyname != null" >
        CompanyName,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="officeweb != null" >
        OfficeWeb,
      </if>
      <if test="companylogo != null" >
        CompanyLogo,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="createpersonid != null" >
        CreatePersonID,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="upatepersonid != null" >
        UpatePersonID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="officeweb != null" >
        #{officeweb,jdbcType=VARCHAR},
      </if>
      <if test="companylogo != null" >
        #{companylogo,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createpersonid != null" >
        #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="upatepersonid != null" >
        #{upatepersonid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jy.entiy.content.file.question_bank.CompanyinfoExample" resultType="java.lang.Integer" >
    select count(*) from CompanyInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CompanyInfo
    <set >
      <if test="record.companyid != null" >
        CompanyID = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.businessid != null" >
        BusinessID = #{record.businessid,jdbcType=INTEGER},
      </if>
      <if test="record.companyname != null" >
        CompanyName = #{record.companyname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        Phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        Address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.officeweb != null" >
        OfficeWeb = #{record.officeweb,jdbcType=VARCHAR},
      </if>
      <if test="record.companylogo != null" >
        CompanyLogo = #{record.companylogo,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null" >
        CreateBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createpersonid != null" >
        CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null" >
        UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.upatepersonid != null" >
        UpatePersonID = #{record.upatepersonid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CompanyInfo
    set CompanyID = #{record.companyid,jdbcType=INTEGER},
      BusinessID = #{record.businessid,jdbcType=INTEGER},
      CompanyName = #{record.companyname,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Address = #{record.address,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      OfficeWeb = #{record.officeweb,jdbcType=VARCHAR},
      CompanyLogo = #{record.companylogo,jdbcType=BIGINT},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      CreatePersonID = #{record.createpersonid,jdbcType=BIGINT},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      UpatePersonID = #{record.upatepersonid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jy.entiy.content.file.question_bank.Companyinfo" >
    update CompanyInfo
    <set >
      <if test="businessid != null" >
        BusinessID = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        CompanyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="officeweb != null" >
        OfficeWeb = #{officeweb,jdbcType=VARCHAR},
      </if>
      <if test="companylogo != null" >
        CompanyLogo = #{companylogo,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createpersonid != null" >
        CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="upatepersonid != null" >
        UpatePersonID = #{upatepersonid,jdbcType=BIGINT},
      </if>
    </set>
    where CompanyID = #{companyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jy.entiy.content.file.question_bank.Companyinfo" >
    update CompanyInfo
    set BusinessID = #{businessid,jdbcType=INTEGER},
      CompanyName = #{companyname,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      OfficeWeb = #{officeweb,jdbcType=VARCHAR},
      CompanyLogo = #{companylogo,jdbcType=BIGINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=VARCHAR},
      CreatePersonID = #{createpersonid,jdbcType=BIGINT},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      UpatePersonID = #{upatepersonid,jdbcType=BIGINT}
    where CompanyID = #{companyid,jdbcType=INTEGER}
  </update>
  
  <select id="getCompanyNameByCompanyID" resultType="String">
  		SELECT CompanyName FROM CompanyInfo WHERE CompanyID = #{company_id}
  </select>
</mapper>